*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    animation: flow 2s linear ;
}

@keyframes flow {
    from {
        overflow-x: hidden;
    }

    to {
        overflow-x: visible;
    }
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
}

/* header */
.header__inner {
    position: relative;
    margin-bottom: 90px;
}


.header__svg--left {
    position: absolute;
    left: 0;
    top: 0;
}

.header__svg--left .svg__left {
    width: 458px;
    animation: appear-left 1s ease-in-out;
    
}

@keyframes appear-left {
    from {
        transform: translate(-250px, -250px);
        opacity: 0;
    }
    
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.header__svg--right .svg__right {
    width: 375px;
    animation: appear-right 1s ease-in-out;
}

@keyframes appear-right {
    from {
        transform: translate(250px, -250px);
        opacity: 0;
    }
    
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.header__svg--right {
    position: absolute;
    top: 0;
    right: 0;
}

.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    animation: appear-logo .5s ease-in-out;

}

@keyframes appear-logo {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.header__logo {
    margin-right: 17px;
    
}

.header__text {
    color: #172C4F;
    text-transform: uppercase;
}

.header__title {
    font-weight: 700;
    font-size: 48px;
}

.header__subtitle {
    font-weight: 600;
    font-size: 11px;
    text-align: right;
    letter-spacing: 3px;
}

/* about */
.about__inner {
    text-align: center;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: appear-about .7s ease-in-out;
}


@keyframes appear-about {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.about__title {
    font-weight: 700;
    line-height: 104%;
    font-size: 72px;
    color: #162C4E;
    opacity: 0.39;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.about__text {
    width: 100%;
    max-width: 423px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

/* timer */
.timer__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    animation: appear-timer .85s ease-in-out ;
}

@keyframes appear-timer {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.timer__item {
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E; 
    text-align: center;
    margin: 0 10px;
}

.timer__colon {
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E; 
    text-align: center;
}

.timer__text {
    background: url(../images/timer/timer132.svg) center no-repeat;
    width: 132px;
    height: 54px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding: 17px;
}

/* event */
.event__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 256px; */
    margin-bottom: 156px;
    animation: appear-event 1s ease-in-out;
}

@keyframes appear-event {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.event__link {
    width: 240px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: all .3s linear;
}

.event__link:hover {
    background: #2d65a4;
    transition: all .3s linear;
}

.event__text {
    margin-bottom: 12px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

.event__button {
    color: #fff;
    align-self: center;
}

.event__button span {
    margin-right: 30px;
}

/* footer */
.container.foot {
    position: relative;
}

.footer__wrapper {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    bottom: 0;
    z-index: 99;
}

.footer__inner {
    height: 192px;
    background: #162C4E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer__subscribe {
    position: relative;
}

.subscribe__input {
    width: 440px;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding-left: 27px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    outline: none;
}

.subscribe__input:invalid:not(:placeholder-shown){
    border: 2px solid red;
    box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.256);
}

.subscribe__input:valid:not(:placeholder-shown){
    border: 2px solid green;
    box-shadow: 0px 0px 50px rgba(0, 255, 60, 0.112);
}

.subsribe__btn {
    position: absolute;
    top: 13%;
    right: 2%;
    width: 43px;
    height: 43px;
    background: #DF2224;
    border-radius: 50px;
    border: 0;
    color: #fff;
    transition: all .3s linear;
}

.subsribe__btn:hover {
    cursor: pointer;
    background: #df2225af;
    transition: all .3s linear;
}

.footer__smooth {
    color: #fff;
    position: absolute;
    font-size: 20px;
    right: 10%;
    top: 43%;
    cursor: pointer;
}

.footer__smooth span {
    margin-right: 10px;
}

/* popup */
.popup {
    background: rgba(22, 44, 78, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.popup.active {
    display: block;
}

.popup__container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(19, 89, 120, 0.07);
    border-radius: 2px;
    width: 100%;
    max-width: 320px;
    height: 370px;
    background: #fff;
}
    
.popup__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__x-mark {
    align-self: flex-end;
    margin: 24px 16px 50px 0;
    border: 0;
    background-color: #fff; 
    font-size: 24px;
    color: rgba(19, 89, 120, 0.5);
    cursor: pointer;
}

.popup__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    text-transform: uppercase;
    color: #162C4E;
    margin-bottom: 29px;
}
.popup__text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

.popup__close {
    width: 200px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;   
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s linear;
}

.popup__close:hover {
    background: #2d65a4;
    transition: all .3s linear;
}

/* allEvents */
.allEvents__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
    margin-bottom: 40px;
}

@keyframes appear-title {
    from {
        transform: translate(0px, -50px);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    to {
        opacity: 0.39;
        transform: translate(0px, 0px);
    }
}

.allEvents {
    width: 100%;
    max-width: 1705px;
    height: 682px;
    margin: 0 auto 200px;
}

.allEvents__accordion {
    display: flex;
}

/* accordion */
.accordion__item {
    display: flex;
    border-right: 4px solid #fff;
}

.accordion__rectangle {
    cursor: pointer;
    width: 85px;
    height: 681px;
    background: #162C4E;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid #fff;
    z-index: 5;
}

.accordion__rectangle label {
    cursor: pointer;
}

.accordion__title {
    writing-mode: vertical-lr;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    transform: rotate(180deg);
    padding-top: 40px;
}

.accordion__number {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
}

.accordion__content {
    height: 682px;
    position: relative;
    color: #fff;
    overflow: hidden;
    width: 0;
    position: relative;
    z-index: 10;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
}

.accordion__item input:checked ~ div.accordion__content {
    width: 995px;
}

.accordion__item input {
    display: none;
}

.accordion__info {
    width: 100%;
    max-width: 364px;
    height: 681px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-left: 42px;
}

/* info */
.info__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.info__date {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}


.info__number {
    font-weight: 600;
    font-size: 380px;
    line-height: 100%;
    text-align: right;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.04);
    position: absolute;
    left: -143px;
    top: -15px;
}

.info__link {
    text-decoration: none;
    width: 256px;
}

.info__button {
    background: transparent;
    cursor: pointer;
    width: 256px;
    height: 62px;
    border: 1px solid #fff;
    border-left: 7px solid #fff;
    color: #fff;
    transition: all .3s linear;
}

.info__button:hover {
    color: #ffffffb9;
    border-color: #ffffffb9;
    transition: all .3s linear;
}

@media (max-width: 1920px) {

    /*allEvents   */
    .allEvents {
        max-width: 688px;
        height: 1172px;
    }

    .allEvents__accordion {
        display: initial;
    }
    
    /* accordion*/
    .accordion__item {
        border-right: 0;
        border-bottom: 4px solid #fff;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .accordion__rectangle {
        width: 687px;
        height: 85px;
        flex-direction: row-reverse;
        border-right: 0;
    }

    .accordion__title {
        writing-mode: initial;
        transform: initial;
        padding-top: 0px;
        font-size: 24px;
    }

    .accordion__number {
        margin: 0px 40px 0 32px;
        font-size: 32px;
        width: 27px;
    }

    .accordion__content {
        height: 0px;
        width: 686px;
        transition: height 0.3s ease-in-out;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        -ms-transition: height 0.3s ease-in-out;
    }
    
    .accordion__item input:checked ~ div.accordion__content {
        height: 460px;
        width: 100%;
    }
    
    .acc__img {
        width: 100%;
        max-width: 687px;
    }

    .accordion__info {
        max-width: 687px;
        height: 192px;
        top: unset;
        bottom: 0;
        left: 0;
        padding-bottom: 40px;
        padding-left: 40px;
    }

    /* info */
    .info__title  {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .info__date {
        font-size: 16px;
        margin-bottom: 29px;
    }

    .info__link {
        width: 169px;
        z-index: 10;
    }

    .info__button {
        width: 169px;
        height: 44px;
        cursor: pointer;
    }

    .info__number {
        right: -15px;
        top: 0px;
        font-size: 152px;
    }
}

@media (max-width: 1230px) {

    .container{
        max-width: 1230px;
    }

    /* header */
    .header__svg--left .svg__left {
        width: 375px;
    }
    
    .header__svg--right .svg__right {
        width: 300px;
    }

    /* about */
    .about__title {
        font-size: 54px;
    }

    .about__text {
        font-size: 16px;
    }

    /* timer */
    .timer__item {
        font-size: 54px;
        margin: 0 8px;
    }
    
    .timer__colon {
        font-size: 54px;
    }

    /* event */
    .event__text {
        font-size: 16px;
    }

    /* footer */
    .footer__wrapper {
        position: static;
    }
    
    .footer__inner {
        height: 180px;
        flex-direction: column;
    }

    .footer__smooth {
        position: static;
        font-size: 18px;
    }

    .subscribe__input {
        margin-bottom: 15px;
    }

    /*allEvents   */
    .allEvents {
        max-width: 320px;
        height: 1172px;
    }

    /* accordion */
    .accordion__rectangle {
        width: 320px;
        height: 64px;
    }

    .accordion__title {
        font-size: 18px;
    }

    .accordion__number {
        font-size: 24px;
        width: 27px;
        margin: 0px 15px 0;
    }

    .acc__img {
        max-width: 320px;
    }

    .accordion__content {
        height: 0px;
        width: 320px;
        transition: height 0.3s ease-in-out;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        -ms-transition: height 0.3s ease-in-out;
    }
    
    .accordion__item input:checked ~ div.accordion__content {
        height: 376px;
        width: 100%;
    }

    .accordion__info {
        max-width: 320px;
        height: 158px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    /* info */
    .info__title  {
        font-size: 16px;
    }

    .info__date {
        font-size: 14px;
        margin-bottom: 22px;
    }
}
    
@media (max-width: 768px) {

    .container{
        max-width: 768px;
    }

    /* header */
    .header__inner {
        margin-bottom: 168px;
    }

    .header__svg--left .svg__left {
        width: 225px;
    }
    
    .header__svg--right .svg__right {
        width: 200px;
    }

    .header__content {
        padding-top: 98px;
    }

     .header__title {
        font-size: 44px;
    }

    .header__subtitle {
        font-size: 10px;
        line-height: 19px;
    }

    /* about */
    .about__inner {
        margin-bottom: 40px;
    }

    .about__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .about__text {
        max-width: 286px;
    }

    /* timer */
    .timer__inner {
        margin-bottom: 40px;
    }

    .timer__item {
        font-size: 36px;
        margin: 0 4px;
    }

    .timer__colon {
        font-size: 36px;
    }

    .timer__text {
        background: url(../images/timer/Vector40.svg);
        width: 64px;
        height: 40px;
        font-size: 12px;
        padding: 14px;
    }

    /* event */
    .event__text {
        margin-bottom: 15px;
    }

    /* footer */
    .footer__inner {
        height: 160px;
        margin-bottom: 46px;
    }

    .subscribe__input {
        width: 360px;
        height: 41px;
        font-size: 14px;
    }

    .subsribe__btn {
        top: 8%;
        width: 33px;
        height: 33px;
    }

    .footer__smooth {
        font-size: 16px;
    }
}

@media (max-width: 360px) {

    .container{
        max-width: 360px;
    }

    /* header */
    .header__inner {
        margin-bottom: 66px;
    }

    .header__content {
        padding-top: 80px;
    }

    .header__svg--left .svg__left {
        width: 138px;
    }
    
    .header__svg--right .svg__right {
        width: 112px;
    }

    .header__logo {
        margin-right: 10px;
    }

    .header__logo img {
        width: 40px;
    }

    .header__title {
        font-weight: 700;
        font-size: 36px;
    }

    .header__subtitle {
        font-size: 7px;
        line-height: 15px;
    }

    /* about */
    .about__title {
        margin-bottom: 16px;
    }

    /* footer */
    .footer__inner {
        height: 141px;
        margin-bottom: 59px;
    }

    .subscribe__input {
        width: 280px;
        margin-bottom: 16px;
    }
}